/**
  * Main Menu
  */
.main-menu { display:none;}

/**
  * Mobile Menu
  */
#simple-menu{float: right;}
.sidr{display:block;position:fixed;top:0;height:100%;z-index:999999;width:260px;overflow-x:hidden;overflow-y:auto}
.mobile-close{display: none;}
.sidr-class-mobile-close{padding: 20px;  text-align: right; font-size: 2rem; font-weight: bold; color: #fff; cursor: pointer; border-bottom: 1px solid rgba(255, 255, 255, 0.3);}
.sidr-class-region-header h2{display: none;}
h2#sidr-id-block-greensward-main-menu-menu, .sidr-class-contextual{display: none;}
ul.sidr-class-menu{list-style: none; margin: 0px;
  li{margin:0; border-bottom: 1px solid rgba(255, 255, 255, 0.3); padding-left: 5px;
    a{color: #fff; font-family: $primary; font-size: 1.25rem; display: block; padding: 20px; text-decoration: none; }
  }
}
.sidr.right{left:auto;right:-260px}
.sidr.left{left:-260px;right:auto; background-color: $lgreen; }

/* ===== == = === 60em (960px) === = == ===== */
@media only screen and (min-width : 60em) {
  #menu-trigger { display:none; }
  .main-menu { display:block; }
}
