<div class="section header">
  <div class="container">
    <div class="row">
      <div class ="column shrink logo">
        <a href="/"><img src="{{ base_path ~ directory }}/images/logo.png" alt="Logo" /></a>
      </div>
      <div class="column main-menu">
        <a href="#" id="menu-trigger"><i class="fa fa-3x fa-bars"></i></a>
        <div id="sidr-main">
          <div class="mobile-close">X</div>
          {{ page.navigation}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Rest of your content -->
